<a href="https://colab.research.google.com/github/holman57/Machine-Learning-Examples/blob/master/SQL_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Use SQL Queries with Pandas

In [ ]:
from sqlalchemy import create_engine

# Define database URI
uri = 'mysql+pymysql://root:password@127.0.0.1:3306/adv_pandas_ch2'

# Initiate engine object
engine = create_engine(uri)

In [ ]:
# Establish connection (with context manager)
with engine.connect() as conn, conn.begin():

  # Read contents of the insured_cars table
  df = pd.read_sql_table('insured_cars', conn)

In [ ]:
# Establish connection (with context manager)
with engine.connect() as conn, conn.begin():
    df = pd.read_sql_table(
        'insured_cars',
        conn,
        columns=['car_make', 'car_model'],
        index_col='insured_car_id'
    )

In [ ]:
df = pd.read_sql_table(
    'insured_customers',
    conn,
    parse_dates={'date_of_birth': '%Y-%m-%d'}, # Specify Date column
    schema='other_schema' # Set name of schema where table belongs
)

In [ ]:
# Define SQL query on insured_cars table
sql = 'SELECT * FROM insured_cars WHERE car_model_year >= 2010 AND car_make = "Rolls-Royce";'

# Establish connection and turn on autocommit of query
with engine.connect().execution_options(autocommit=True) as conn:

    # Execute SQL query via connection
    query = conn.execute(text(sql))

# Return database table contents as pandas DataFrame
df = pd.DataFrame(query.fetchall())

running `read_sql('insured_cars', conn)` will return the database table as a pandas DataFrame object, just like `read_sql_table()` would.

In [ ]:
with engine.connect() as conn, conn.begin():
    df = pd.read_sql("insured_cars", conn)